{% extends 'rassilki/home.html' %}

{% block content %}

  <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 no-hover">
                <div class="card-body">
                    <h4 class="card-title">Контактная информация</h4>
                    <p class="card-text">
                        <strong>Moscow:</strong> +7 000 000 000 00<br>
                        <strong>St. Petersburg:</strong> +7 800 000 000 00
                    </p>
                </div>
            </div>
        </div>

{% endblock %}