{% extends 'rassilki/home.html' %}

{% block content %}
<style>
    .email-table {
        width: 100%;
        border-collapse: collapse;
    }

    .email-table th, .email-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .email-table th {
        background-color: #f2f2f2;
    }

    .email-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .email-table tr:hover {
        background-color: #ddd;
    }

    .subscribers-list {
        list-style-type: none;
        padding: 0;
    }

    .subscribers-list li {
        margin-bottom: 4px;
    }

    .button-container {
        margin-top: 10px;
        text-align: right;
    }

    .button-container a {
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 10px;
        display: inline-block;
    }

    .button-container a:hover {
        background-color: #0056b3;
    }
</style>

<table class="email-table">
    <thead>
    <tr>
        <th>Email Subject</th>
        <th>Message</th>
        <th>Time</th>
        <th>Status</th>
        <th>Subscribers</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ object.subject }}</td>
        <td>{{ object.body }}</td>
        <td>{{ object.send_time }}</td>
        {% if object.status == 1 %}
        <td>закончить</td>
        {% elif object.status == 2 %}
        <td>сохранить</td>
        {% elif object.status == 3 %}
        <td>запустить</td>
        {% endif %}
         <td>{{ object.get_status_display }}</td>
        <td>
            <ul class="subscribers-list">
                {% for client in object.client.all %}
                <li>{{ client.email }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<div class="button-container">
    <a href="{% url 'rassilki:mailing-delete' object.pk %}">Delete</a>
    <a href="{% url 'rassilki:mailing-update' object.pk %}">Edit</a>
    <a href="{% url 'rassilki:mailing-list' %}">Back to Campaign</a>
</div>
{% endblock %}